.root {
    /* the blue border glow looks dumb */
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

/* Patient card */

#patientNameText {
    -fx-font-size: 1.35em;
}

#doctorsNamesText {
    -fx-font-size: 0.9em;
    -fx-text-fill: #DDD;
}

/* List pane */

#patientList {
    -fx-padding: 10 5 10 5;
}